<div class="res-table-container">
  <div class="res-table">
    <div class="header-column">
      <res-type [resType]="'People'"></res-type>
      <res-info [resType]="'People'" [resCount]="viewResources.length"></res-info>
      <div class="items-header-container">
        <res-member *ngFor="let res of viewResources; let idx = index" [resItem]="res" [position]="idx" (assign)="assignProject($event)"></res-member>
      </div>
    </div>
    <div class="data-column">
      <res-date-range [dateRange]="dateRange"></res-date-range>
      <div class="clipping-frame" moveDays [daysCount]="days.length">
        <div class="moving-frame">
          <res-days [days]="days"></res-days>
          <div class="items-container">
            <res-hours-item *ngFor="let res of viewResources; let idx = index;" [resItem]="res" [position]="idx"></res-hours-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>