.res-table-container {
    padding: 20px 20px;
    font-size: 0.8rem;

    @media (min-width: 576px) { 
        & {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.res-table {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    color: #3f3f3f;
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

.header-column {
    min-width: 220px;
}

.items-header-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.data-column {
    width: 100%;
    border-left: 1px solid #f2f2f2;
    overflow: hidden;
}

.clipping-frame {
    overflow: hidden;
}

.moving-frame {
    transition: all 0.3s ease;
}

.items-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}