$fa-font-path: "/assets/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~normalize.css/normalize.css";

html, body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  height: 100%;
}