$fa-font-path: "/assets/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~normalize.css/normalize.css";
@import "./app.material-theme.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background-color: #f8f9fd;
}

body {
  font-size: 1.6rem;
}

app {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-container {
  display: block;
  position: relative;
  transform: translate3d(0,0,0);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  width: 100%;
}

main {
  width: 100%;
  background-color: #f8f9fd;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: auto;
  height: 100%;
  

   @media (min-width: 768px) {
    & {
      margin-left: 250px;
      width: calc(100% - 250px);
    }
  }
}

.section-title {
  padding: 30px 20px;
  border-top: 1px solid #f3f4f8;
  border-bottom: 1px solid #f3f4f8;
  font-size: 3.6rem;

  @media (min-width: 576px) {
    & {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.collapsed {
    visibility: hidden;
    opacity: 0;
    max-height: 1px;
    transition: visibility 275ms, opacity 275ms, max-height .28s;
    transition-timing-function: ease-out;
}

.expanded {
    visibility: visible;
    opacity: 1;
    max-height: 4000px;
    transition: visibility .5s, opacity .5s, max-height .5s;
    transition-timing-function: ease-in-out;
}