<div class="items-row">
    <div *ngFor="let viewDay of resItem.viewDays" class="item-span item-span-{{viewDay.workingHours}}">
        <span>{{viewDay.workingHours === 0 ? '+' : viewDay.workingHours + 'h'}}</span>
    </div>
</div>
<div class="items-row inside-items-row" *ngFor="let viewProject of resItem.viewProjects; let projIdx = index;" [ngClass]="{ expanded: expanded, collapsed: !expanded }">
    <res-subitem *ngFor="let projectDay of viewProject.viewDays; let dayIdx = index" [workingHours]="projectDay.workingHours" [maxHours]="countMaxHoursPerSubitem(projIdx, dayIdx)" (assignHours)="updateDaysHours($event, projIdx, dayIdx)"></res-subitem>
</div>