<div class="items-row">
    <div *ngFor="let s of resItem.viewDays" class="item-span item-span-{{s.workingHours}}">
        <span>{{s.workingHours === 0 ? '+' : s.workingHours + 'h'}}</span>
    </div>
</div>
<div class="items-row inside-items-row" *ngFor="let insRow of resItem.viewProjects; let i = index;" [ngClass]="{ expanded: expanded, collapsed: !expanded }">
    <div *ngFor="let ss of insRow.viewDays; let j = index" class="item-span inside-item-span inside-item-span-{{ss.workingHours}}" (click)="workingHoursItemOnClick(i, j)">
        <span>{{ss.workingHours === 0 ? '+' : ss.workingHours + 'h'}}</span>
    </div>
</div>